::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  font-size: 1.2rem;
  margin: 0;
}

.App-main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.left-panel {
  width: 240px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  position: relative;
}

.image-selector {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.thumbnail {
  width: 200px;
  display: block;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
}

.thumbnail:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.3));
} 

.main-content {
  overflow: hidden;
  flex-grow: 1;
  padding: 0 20px 0 0;
}

.seam-container-resizable {
  width: 100%;
  height: 100%;
  max-width: 99%;
  max-height: 99%;
  margin: 0;
  border: 2px dashed #ccc;
  box-sizing: border-box;
  resize: both;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.controls-panel {
  padding: 15px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.controls-container {
  margin-top: auto;
}

.config-tab {
  background-color: #e0e0e0;
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
}

.controls {
  background: #f7f7f7;
  padding: 1rem;
  border-right: 1px solid #ddd;
  min-width: 250px;
  overflow-y: auto;
  max-height: 300px;
}

.control-group {
  margin-bottom: 15px;
  text-align: center;
  flex-direction: column;
}

.control-group:last-child {
  margin-bottom: 0;
}

.control-group label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.9rem;
  text-align: left;
}

.control-group input[type="range"], .control-group input[type="file"] {
  width: 100%;
}


.button-group {
  display: flex;
  margin-top: 5px;
}

.button-group button {
  flex-grow: 1;
  padding: 5px 0px;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button-group button:not(:last-child) {
  border-right: none;
}

.button-group button:first-child {
  border-radius: 4px 0 0 4px;
}

.button-group button:last-child {
  border-radius: 0 4px 4px 0;
}

.button-group button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.toggle-switch {
  display: flex;
  width: fit-content;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.toggle-switch button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch button:not(:last-child) {
  border-right: 1px solid #ccc;
}

.toggle-switch button.active {
  background-color: #007bff;
  color: white;
}

.toggle-switch button:focus {
  outline: none;
}

/* Help Tooltip */
.help-tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.help-icon {
  cursor: help;
  color: #555;
}

.tooltip-text {
  width: 220px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 8px;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre-line;
  box-sizing: border-box;
}

.tooltip-text.tooltip-component {
  width: auto;
}

.tooltip-text.tooltip-component img {
  max-width: 150px;
  display: block;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.log-window-container {
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 1000;
}

.log-window {
  width: 200px;
  max-height: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
  font-family: monospace;
  font-size: 12px;
}

.log-message {
  margin-bottom: 5px;
  white-space: pre-wrap;
  word-break: break-all;
  height: 100%;
}

responsive-img, responsive-img-predictive, responsive-img-full, responsive-img-cached {
  display: block;
  width: 100%;
  height: 100%;
}

.log-window-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid #999;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
  font-weight: bold;
  background: #eee;
  user-select: none;
  z-index: 1;
}