::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.App-main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.left-panel {
  width: 240px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  position: relative;
}

.image-selector {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.thumbnail {
  width: 200px;
  display: block;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
}

.thumbnail:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.3));
} 

.main-content {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.seam-container-resizable {
  width: 100%;
  height: 100%;
  max-width: 99%;
  max-height: 99%;
  margin: 0;
  border: 2px dashed #ccc;
  margin: 0 20px 20px 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.resizable-content {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  overflow: hidden;
  position: relative;
}

.resize-handle-right,
.resize-handle-bottom,
.resize-handle-corner {
  position: absolute;
  background: #4a4a4a;
  z-index: 10;
}

.resize-handle-right {
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
}

.resize-handle-bottom {
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  cursor: ns-resize;
}

.resize-handle-corner {
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: nwse-resize;
  z-index: 20;
  background: transparent;
}

.handle-dots {
  position: absolute;
  color: white;
  pointer-events: none;
  font-size: 16px;
  line-height: 4px;
  display: flex;
}

.handle-dots-vertical {
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.handle-dots-horizontal {
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -87%);
  gap: 2px;
}

.controls-panel {
  padding: 15px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.controls-container {
  margin-top: auto;
}

.config-tab {
  background-color: #e0e0e0;
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
}

.controls {
  background: #f7f7f7;
  padding: 1rem;
  border-right: 1px solid #ddd;
  min-width: 250px;
  overflow-y: auto;
  max-height: 300px;
}

.control-group {
  margin-bottom: 15px;
  text-align: center;
  flex-direction: column;
}

.control-group:last-child {
  margin-bottom: 0;
}

.control-group label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.9rem;
  text-align: left;
}

.control-group input[type="range"], .control-group input[type="file"] {
  width: 100%;
}

.control-group > button {
  width: 100%;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  transition: background-color 0.2s;
}

.control-group > button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.button-group {
  display: flex;
  margin-top: 5px;
  resize: both;
  flex-grow: 1;
}

.button-group button {
  flex-grow: 1;
  padding: 5px 0px;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button-group button:not(:last-child) {
  border-right: none;
}

.button-group button:first-child {
  border-radius: 4px 0 0 4px;
}

.button-group button:last-child {
  border-radius: 0 4px 4px 0;
}

.button-group button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.toggle-switch {
  display: flex;
  width: fit-content;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.toggle-switch button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch button:not(:last-child) {
  border-right: 1px solid #ccc;
}

.toggle-switch button.active {
  background-color: #007bff;
  color: white;
}

.toggle-switch button:focus {
  outline: none;
}

/* Help Tooltip */
.help-tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.help-icon {
  cursor: help;
  color: #555;
}

.tooltip-text {
  width: 220px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 8px;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre-line;
  box-sizing: border-box;
}

.tooltip-text.tooltip-component {
  width: auto;
}

.tooltip-text.tooltip-component img {
  max-width: 150px;
  display: block;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.resize-indicator {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-family: monospace;
  z-index: 100;
  pointer-events: auto;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  cursor: pointer;
}

.resize-indicator.show,
.resize-indicator:hover {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.resize-indicator input {
  width: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #999;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 12px;
  -moz-appearance: textfield;
  cursor: initial;
}

.resize-indicator input::-webkit-outer-spin-button,
.resize-indicator input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Log Window */
.log-window-container {
  position: absolute;
  top: 50px;
  right: 20px;
}

.log-window {
  width: 200px;
  max-height: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
  font-family: monospace;
  font-size: 12px;
}

.log-message {
  margin-bottom: 5px;
  white-space: pre-wrap;
  word-break: break-all;
  height: 100%;
}

fluid-img {
  display: block;
  width: 100%;
  height: 100%;
}

.log-window-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid #999;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
  font-weight: bold;
  background: #eee;
  user-select: none;
}

.draggable {
  position: relative;
  z-index: 100;
}

.code-preview {
  margin-top: auto;
  padding: 5px;
  border-top: 1px solid black;
  text-align: center;
}

.code-preview h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

.code-preview pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.code-preview code {
  color: #555;
}

.resizable-container {
  position: relative;
  overflow: auto;
  border: 1px solid #ccc;
  resize: both;
  flex-grow: 1;
}