.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  font-size: 1.2rem;
  margin: 0;
}

.App-main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.left-panel {
  width: 240px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  position: relative;
}

.main-content {
  flex-grow: 1;
  padding: 0 20px 0 0;
}

.seam-container-resizable {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 2px dashed #ccc;
  box-sizing: border-box;
  resize: both;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.controls-panel {
  padding: 15px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
}

.controls-container {
  margin-top: auto;
}

.config-tab {
  background-color: #e0e0e0;
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
}

.control-group {
  margin-bottom: 15px;
  text-align: center;
}

.control-group:last-child {
  margin-bottom: 0;
}

.control-group label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.9rem;
  text-align: left;
}

.control-group input[type="range"], .control-group input[type="file"] {
  width: 100%;
}

.toggle-switch {
  display: flex;
  width: fit-content;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.toggle-switch button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch button:not(:last-child) {
  border-right: 1px solid #ccc;
}

.toggle-switch button.active {
  background-color: #007bff;
  color: white;
}

.toggle-switch button:focus {
  outline: none;
}

/* Help Tooltip */
.help-tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}

.help-icon {
  cursor: help;
  color: #555;
}

.help-tooltip .tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre-line;
  box-sizing: border-box;
}

.help-tooltip .tooltip-text.tooltip-component {
  width: auto;
  transform: translateX(-50%);
  margin-left: 0;
}

.help-tooltip .tooltip-text.tooltip-component img {
  max-width: 150px;
  display: block;
}

.help-tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.help-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
} 