.log-window-container {
  position: absolute;
  top: 50px;
  right: 20px;
}

.log-window {
  width: 200px;
  max-height: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
  font-family: monospace;
  font-size: 12px;
}

.log-window-message {
  margin-bottom: 5px;
  white-space: pre-wrap;
  word-break: break-all;
  height: 100%;
}

.log-window-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid #999;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
  font-weight: bold;
  background: #eee;
  user-select: none;
}